<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whereguesthome.mapper.AdminOrderMapper">
  <resultMap id="BaseResultMap" type="com.whereguesthome.pojo.Order">
    <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="o_realname" jdbcType="VARCHAR" property="oRealname" />
    <result column="o_address" jdbcType="VARCHAR" property="oAddress" />
    <result column="o_zip" jdbcType="VARCHAR" property="oZip" />
    <result column="o_phone" jdbcType="VARCHAR" property="oPhone" />
    <result column="o_payment" jdbcType="VARCHAR" property="oPayment" />
    <result column="o_remarks" jdbcType="VARCHAR" property="oRemarks" />
    <result column="o_time" jdbcType="TIMESTAMP" property="oTime" />
    <result column="o_tag" jdbcType="VARCHAR" property="oTag" />
    <result column="o_price" jdbcType="DOUBLE" property="oPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    o_id, u_id, o_realname, o_address, o_zip, o_phone, o_payment, o_remarks, o_time, 
    o_tag, o_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `order`
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
 
  <insert id="insertSelective" parameterType="com.whereguesthome.pojo.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        o_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="oRealname != null">
        o_realname,
      </if>
      <if test="oAddress != null">
        o_address,
      </if>
      <if test="oZip != null">
        o_zip,
      </if>
      <if test="oPhone != null">
        o_phone,
      </if>
      <if test="oPayment != null">
        o_payment,
      </if>
      <if test="oRemarks != null">
        o_remarks,
      </if>
      <if test="oTime != null">
        o_time,
      </if>
      <if test="oTag != null">
        o_tag,
      </if>
      <if test="oPrice != null">
        o_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="oRealname != null">
        #{oRealname,jdbcType=VARCHAR},
      </if>
      <if test="oAddress != null">
        #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oZip != null">
        #{oZip,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null">
        #{oPhone,jdbcType=VARCHAR},
      </if>
      <if test="oPayment != null">
        #{oPayment,jdbcType=VARCHAR},
      </if>
      <if test="oRemarks != null">
        #{oRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oTime != null">
        #{oTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oTag != null">
        #{oTag,jdbcType=VARCHAR},
      </if>
      <if test="oPrice != null">
        #{oPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whereguesthome.pojo.Order">
    update `order`
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="oRealname != null">
        o_realname = #{oRealname,jdbcType=VARCHAR},
      </if>
      <if test="oAddress != null">
        o_address = #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oZip != null">
        o_zip = #{oZip,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null">
        o_phone = #{oPhone,jdbcType=VARCHAR},
      </if>
      <if test="oPayment != null">
        o_payment = #{oPayment,jdbcType=VARCHAR},
      </if>
      <if test="oRemarks != null">
        o_remarks = #{oRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oTime != null">
        o_time = #{oTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oTag != null">
        o_tag = #{oTag,jdbcType=VARCHAR},
      </if>
      <if test="oPrice != null">
        o_price = #{oPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
 
  <resultMap id="selectAll-result" type="com.whereguesthome.pojo.Order">
    <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="o_realname" jdbcType="VARCHAR" property="oRealname" />
    <result column="o_address" jdbcType="VARCHAR" property="oAddress" />
    <result column="o_zip" jdbcType="VARCHAR" property="oZip" />
    <result column="o_phone" jdbcType="VARCHAR" property="oPhone" />
    <result column="o_payment" jdbcType="VARCHAR" property="oPayment" />
    <result column="o_remarks" jdbcType="VARCHAR" property="oRemarks" />
    <result column="o_time" jdbcType="TIMESTAMP" property="oTime" />
    <result column="o_tag" jdbcType="VARCHAR" property="oTag" />
    <result column="o_price" jdbcType="DOUBLE" property="oPrice" />
  </resultMap>
  
 <select id="selectAll" resultMap="selectAll-result">
 	select * from `order`;
 </select>
 
 <resultMap id="gfindAll-result" type="com.whereguesthome.pojo.GoodsItems">
   <id column="g_id" jdbcType="INTEGER" property="gId" />
		<result column="g_name" jdbcType="VARCHAR" property="gName" />
		<result column="g_price" jdbcType="DOUBLE" property="gPrice" />
		<result column="g_saleprice" jdbcType="DOUBLE" property="gSaleprice" />
		<result column="g_describes" jdbcType="VARCHAR" property="gDescribes" />
		<result column="g_contents" jdbcType="VARCHAR" property="gContents" />
		<result column="g_photo" jdbcType="VARCHAR" property="gPhoto" />
		<result column="g_repertory" jdbcType="INTEGER" property="gRepertory" />
		<result column="g_saledate" jdbcType="DATE" property="gSaledate" />
		<result column="s_id" jdbcType="INTEGER" property="sId" />
		<result column="g_status" jdbcType="INTEGER" property="gStatus" />
    <result column="i_count" jdbcType="INTEGER" property="iCount" />
  </resultMap>
  
 <select id="gfindAll" resultMap="gfindAll-result">
 select g.*,i.i_count from `user` u,`order` o,items i, goods g where 
u.u_id = o.u_id and o.o_id = i.o_id and i.g_id = g.g_id and u.u_id = #{uId};
 
 </select>
 
 
 <resultMap id="selectAllDim-result" type="com.whereguesthome.pojo.Order">
   <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="o_realname" jdbcType="VARCHAR" property="oRealname" />
    <result column="o_address" jdbcType="VARCHAR" property="oAddress" />
    <result column="o_zip" jdbcType="VARCHAR" property="oZip" />
    <result column="o_phone" jdbcType="VARCHAR" property="oPhone" />
    <result column="o_payment" jdbcType="VARCHAR" property="oPayment" />
    <result column="o_remarks" jdbcType="VARCHAR" property="oRemarks" />
    <result column="o_time" jdbcType="TIMESTAMP" property="oTime" />
    <result column="o_tag" jdbcType="VARCHAR" property="oTag" />
    <result column="o_price" jdbcType="DOUBLE" property="oPrice" />
  </resultMap>
  
 <select id="selectAllDim" resultMap="selectAllDim-result">
 select * from `order` where concat(o_id,o_realname) like #{name};
 </select>
</mapper>